<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">JOB FINDER</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dash-user()">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">A Propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profil">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/deconn_user">Deconnexion</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
</header>